//---------------------colors -----------------------//

$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-green: hsl(192, 70%, 51%);

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


//-------------------------------- Typo ----------------------//
$font-size: 18px;

//---------------------Font----------------------------------//
$font-family :  'Public Sans', sans-serif;

//----------------------mixins-----------------------//
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
