//---------------------colors -----------------------//

$dark-blue: hsl(233, 26%, 24%);
$lime-green: hsl(136, 65%, 51%);
$bright-green: hsl(192, 70%, 51%);

$grayish-blue: hsl(233, 8%, 62%);
$light-grayish-blue: hsl(220, 16%, 96%);
$very-light-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//-------------------------------- Typo ----------------------//
$font-size: 18px;

//---------------------Font----------------------------------//
$font-family: "Public Sans", sans-serif;

//----------------------mixins-----------------------//
@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

//---------------------------------------- buttons ------------------------------//
.btn_request {
    width: 10rem;
  border-radius: 2rem;
  padding: 0.7rem 1.5rem;
  color: $white;
  text-transform: capitalize;
  cursor: pointer;
  background: linear-gradient(45deg, #31d35c, #2bb7da);
}

//-------------------------- media queries -----------------------------------//
$width2: 565px;
$width1: 768px;
$width0: 970px;
$width: 1020px;

@mixin tab {
  @media (max-width: #{$width}) {
    @content;
  }
} ;
@mixin tab0 {
  @media (max-width: #{$width0}) {
    @content;
  }
} ;
@mixin tab2 {
  @media (max-width: #{$width2}) {
    @content;
  }
} ;
