@use "../../sass/index" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem clamp(4rem, 8%, 7rem) 1rem clamp(4rem, 8%, 7rem);
  z-index: 50000;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $white;
  @include tab2{
    padding: 1rem clamp(2rem, 8%, 7rem) 1rem clamp(2rem, 8%, 7rem);
  }

  .logo {
    width: 25%;
    a {
      display: flex;
      align-items: center;
    }
  }
  .navLinks {
    width: 50%;
    @include flexcenter;
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      li {
        cursor: pointer;
        line-height: normal;
        a {
          color: $grayish-blue;
          padding: 1rem;
          text-transform: capitalize;
          &:hover {
            color: $dark-blue;
            border-bottom: 4px solid;
            border-image-slice: 1;
            border-image-source: linear-gradient(
              to left,
              rgba(127, 217, 162, 1),
              rgba(126, 221, 199, 1),
              rgba(129, 213, 223, 1)
            );
          }
        }
      }
    }
    @include tab{
      display: none;
    } 
  }
  .navButton {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    @include tab{
      display: none;
    } 
  }
  .hamburger{
    display: none;
    @include tab{
      @include flexcenter;
    } 
  }
}
