@use "../../sass/index" as *;

#footer {
  background-color: $dark-blue;
  width: 100%;
  .main_footer {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem clamp(4rem, 8%, 7rem) 3rem clamp(4rem, 8%, 7rem);
    
    @include tab0{
      flex-direction: column;
      gap: 2rem;
    }
    
    .footer_left {
      width: 60%;
      display: flex;
      justify-content: space-between;
      @include tab0{
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
      }
      @include tab2{
        flex-direction: column;
        gap: 1rem;
      }
      .footer_links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include tab0{
          gap: 1rem;
        }
        .social_media {
          color: $white;
          display: flex;
          gap: 1rem;
        }
        .social_media > *{
          cursor: pointer;
          &:hover{
              color: $lime-green;
          }
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include tab2{
          place-items: center;
        }
        li {
          a {
            color: $white;
            &:hover{
                color: $lime-green;
            }
          }
        }
      }
    }
    .footer_right {
      width: 40%;
      @include tab0{
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
      @include tab2{
        gap: 1rem;
      }
        // padding-right: 8rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    justify-content: space-between;
      p{
        color: $grayish-blue;
      }
    }
  }
}
