@use "../../../sass/" as *;

#articles{
    margin-bottom: 4rem;
    .main_article{
        width: 100%;
        padding-left: 8rem;
        h2{
            font-weight: 500;
            color: $dark-blue;
            font-size: calc($font-size + 20px);
        }
        .articles_boxes{
            margin-top: 5rem;
            display: flex;
            gap: 3%;
            .article_box{
                width: 19%;
                img{
                    width: 15rem;
                    height: 10rem;
                }
                .article_box_bottom{
                    margin-left: 1rem;
                    margin-top: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    p:first-child{
                        color: $grayish-blue;
                        font-size: calc($font-size - .4rem);
                    }
                    p:nth-child(2){
                        color: $dark-blue;
                        font-size: calc($font-size + .2rem);
                        cursor: pointer;
                        &:hover{
                            color: $lime-green;
                        }
                    }
                    p:last-child{
                        color: $grayish-blue;
                        font-size: calc($font-size - .2rem);
                    }
                }

            }
        }
    }
}