@use "../../../sass/" as *;

#articles{
    padding-block: 6rem;
    background-color: $very-light-gray;
    .main_article{
        width: 100%;
        @include tab2{
            text-align: center;
          }
        h2{
            padding-left: clamp(4rem, 8%, 7rem);
            font-weight: 500;
            color: $dark-blue;
            font-size: calc($font-size + 20px);
            @include tab2{
                padding-left: 0;
            }
        }
        .articles_boxes{
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 3rem;
            @include tab2{
                padding: 1rem;
                justify-content: center;
              }
            .article_box{
                box-shadow: 0px 11px 11px 0px rgba(0,0,0,0.1);
                background-color: $white;
                width: 17rem;
                display: flex;
                flex-direction: column;
                img{
                    width: 100%;
                    height: 10rem;
                }
                .article_box_bottom{
                    margin-left: 1rem;
                    margin-top: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding-bottom: 2rem;
                    p:first-child{
                        color: $grayish-blue;
                        font-size: calc($font-size - .4rem);
                    }
                    p:nth-child(2){
                        color: $dark-blue;
                        font-size: calc($font-size + .2rem);
                        cursor: pointer;
                        &:hover{
                            color: $lime-green;
                        }
                    }
                    p:last-child{
                        color: $grayish-blue;
                        font-size: calc($font-size - .2rem);
                    }
                    @include tab2{
                        margin-left: 0;
                    }
                }

            }
        }
    }
}