@use "./sass/index" as *;

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: $font-family;
  font-size: $font-size;
  line-height: normal;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}

