@use "../../../sass/" as *;

#home{
  height: 86vh;
  overflow: visible;
  position: relative;
  .hero_main {
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 5;
    .hero_left {
      padding-left: 8rem;
      margin-bottom: 50%;
      display: flex;
      align-items: center;
      height: 100%;
      .left_main {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      h1 {
        width: 100%;
        letter-spacing: 1px;
        font-weight: 700;
        color: $dark-blue;
        font-size: calc($font-size + 40px);
      }
      p {
        color: $grayish-blue;
        width: 89%;
      }
    }
    .hero_right {
      width: 100%;
      .img {
        position: absolute;
        top: 0;
        right: 0;
        // display: flex;
        // justify-content: flex-end;
        // align-items: center;
      }
    }
  }
}
