@use '../../../sass/' as *;

.hero_main{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    z-index: 5;
    .hero_left{
        .left_main{
            display: flex;
            flex-direction: column;
            gap: 2rem;

        }
        border : 1px solid blue;
        h1{
            color: $dark-blue;
            font-size: calc($font-size + 27px);
        }
        p{
            color: $grayish-blue;
        }
    }
    .hero_right{
        .img{
            display: flex;
            justify-content: flex-end;
            border: 1px solid red;
            position: relative;
        img:first-child{
            transform: translate(10rem,-8rem);;
            width: 120%;
            // height: 100%;
        }
        img:last-child{
            position: absolute;
            top: -7rem;
            right: -7rem;
        }
        }
    }
}