@use "../../../sass/" as *;

#home{
  overflow: visible;
  position: relative;
  .hero_main {

    display: flex;
    flex-wrap: wrap;
    z-index: 5;
    @include tab2{
      flex-direction: column-reverse;
    }
    .hero_left {
      padding-left: clamp(4rem, 8%, 7rem);
      align-self: center;
      margin-bottom: 10%;
      display: flex;
      align-items: center;
      height: 100%;
      width: 50%;
      @include tab2{
        width: 90%;
        text-align: center;
        padding-left: 0;
        margin: auto;
        padding-block: 2rem;
      }
      .left_main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include tab0{
          margin-top: 1rem;
        }
      }
      h1 {
        width: 26rem;
        letter-spacing: 1px;
        font-weight: 700;
        color: $dark-blue;
        font-size: calc($font-size + 40px);
        @include tab0{
          width: 100%;
          font-size: 2rem;
        }
      }
      p {
        color: $grayish-blue;
        width: 89%;
        @include tab2{
        width: 100%;
        }
      }
    }
    .hero_right {
      width: 50%;
      @include tab2{
        width: 100%;
      }
      .img {
        // width: 100%;
        @include tab2{
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
